body{
    font-family: "Montserrat", sans-serif;
}
.header_nav_menu a{
    text-decoration: none;
    color: black;
}

.header_nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(239, 245, 251);
    color: black;
}
.header_img_menu{

    padding: 20px 51px 20px 120px;
}
.header_nav_ul_menu > .header_list_item{
    display: flex;
    height: 14px;
    list-style-type:none;
}
.header_nav_ul_menu .header_list_item{
    display: inline-block;
    padding-right: 16px;
}
.header_button_menu{
    padding: 14px 20px 14px 20px;
    margin-right: 120px;
    margin-left: 164px;
    color: rgb(3, 178, 165);
    border-radius: 4px;
    background: rgb(227, 245, 245);
    border: none;
    font-weight: bold;
}
.hero__main{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
}
.hero_style_main{
    padding-right: 228px;
}

.hero_style_main_h1{
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}
.hero_button_main{
    flex: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 16px 12px 16px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 36px;
    background: rgb(53, 179, 169);
    border:none;
}
.hero_img_main{
    padding-left: 120px;
}
.hero_img_water_main{
    width: 690px;
    height: 331px; 
}
h3{
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}
.hero_list_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
li{
    color: rgb(3, 178, 165);
    
}
li .hero_one_list_main{
    color: rgb(51, 51, 51);
    margin-bottom: 8px;
    flex: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
}
.hero_ul_main{
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin-bottom: 4px;
    flex: none;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration-line: underline;
}
.hero_h1_main{
    padding-bottom: 16px;
    padding-top: 24px;
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.hero_p_main{
    color: rgb(51, 51, 51);
    font-size: 16px;
    text-align: left;
}
.hero_article_main{
    position: relative;
    padding: 24px;
    border-radius: 16px;
    background: rgb(243, 247, 254);
}
.hero_atricle_img_main{
    position: absolute;
    bottom: 135px;
}
.hero_p_two_main{
    color: rgb(51, 51, 51);
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.hero_list_ul_main{
    color: rgb(51, 51, 51);
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.hero_list_img_main{
    width: 690px;
    height: 331px;
    margin: 16px 0px;
}
.hero_img_gifts_main{
    width: 100%;
}
.span_hero{
    color: rgb(134, 134, 134);
    font-size: 14px;
    font-weight: 400px;
    line-height: 130%;
    letter-spacing: 0.25px;
    text-align: left;
}
.hero_p_article{
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.img_hero{
    z-index: 0;
}
.hero_p_img{
    color: rgb(51, 51, 51);
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;        
}
.hero_p_article_main{
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.hero_main_flex{
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(2,1fr);

}
.hero_main_p_grid{
    color: rgb(51, 51, 51);
    justify-self: stretch;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}
.hero_img_main_grid{
    justify-self: stretch;
}
.hero_article_main{
    border-radius: 16px;
    background: rgb(254, 250, 236);
}
.hero_grid_main{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 24px;
}
.hero_Lightning_img_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.hero_blue_article_main{
    border-radius: 16px;
    background: rgba(3, 178, 165, 0.1);  
    margin: 24px 0px;
    padding: 24px; 
}
.button_click_footer{
    border:none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 20px 24px 20px 24px;
    background: rgb(22, 200, 187);
}
.footer_fot{
    display: flex;
    flex-direction: row;
}
.hero_img_woman_main{
    position: absolute;
    width: 369px;
    height: 369px;
    left: 880px;
}
.wom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 158px;
}
.hero_img_main{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.hero_border_three__main{
    position: relative;
    padding-left: 32px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
.hero_three_h3{
    color: rgb(41, 99, 163);
    font-size: 18px;
    text-align: left;
}
.hero_button_buy_main{
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    background: rgb(53, 179, 169);
}
.hero_border_two_main{
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.hero__psycho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.hero_border_img_two_main{
    border-radius: 360px;
    margin-top: 24px;
    align-self: center;
    text-align: center;
}
.hero_h3{
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding-left: 16px;
}
.hero_liliya{
    color: rgb(51, 51, 51);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 0px 0px;
}
.hero_border_main{
    display: flex;
    justify-content: center;
    padding: 24px;
    flex-direction: column;
    border: none;
    border-radius: 16px;
    background: rgb(230, 240, 253);
}
.hero_li{
    color: rgb(51, 51, 51);
    font-size: 14px;
    margin: 0px 0px;
    text-align: left
}
.hero_liliya_span{
    color: rgb(162, 167, 177);
    font-size: 14px;
    text-align: center;
}
.hero_liliya_psycho{
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 4px 0px;
    text-align: center;
}
.hero_three_p{
    color: rgb(1, 22, 50);
    font-size: 14px;
    font-family: Open Sans;
    line-height: 20px;
    text-align: left;
}
.img_gifts{
    position: absolute;
    left: 170px;
    bottom: 1px;
}
.img_gifts_two{
    position: absolute;
    left: 190px;
    bottom: 1px;
}
.hero_img_vector{
    position: absolute;
width: 686px;
height: 606px;
left: 132.5%;
right: -80.14%;
top: 54.07%;
bottom: 35.31%;
transform: rotate(-180.00deg);
}
footer{
    background: rgb(41, 99, 163);
}
.footer__menu{
    display: flex;
    margin-left: 120px;
    list-style-type: none;
    flex-wrap: nowrap;
    flex-direction: row;
}
.footer__menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer_three_menu {
    padding-top: 40px;
    flex: none;
    margin-right: 93px;
}
.footer_menu_email{
    width: 384px;
    height: 48px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    background: rgb(255, 255, 255);
}
.footer_text_menu{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.footer_img_menu{
    display: flex;
    flex-direction: column;
}
.footer_footer_menu{
    display: flex;
    border-top: 1px solid rgb(157, 157, 157);
    margin-top: 24px;
    margin-left: 120px;
    padding-top: 16px;
    padding-bottom: 17px;
    opacity: 0.3;
}
.ych{
    align-self: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.row1{
    padding-top: 40px ;
}
.footer_foter1{
    margin-top: 40px;
    padding-right: 120px;
}
.spansize{
    font-size: 14px;
    align-self: flex-start;
}
.footer_two_menu{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 40px;
    margin-right: 93px;
}
.footer_blog{
    margin: 16px 0px;
}
.footer_svg{
    margin-right: 16px;
}
.footer_footer_menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    display: inline-block;
}
@media(max-width: 320px){
    .hero__main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer__menu{
        display: flex;
        flex-wrap: wrap;
    }
    .hero_grid_main{
        display: flex;
        flex-direction: column;
    }
    .hero_main_flex{
        display: flex;
        flex-direction: column;
    }
}
.hero_img{
    text-align: center;
}